# Ignore file, currently only ignores CodePlex specific items
$tf/
$tf1/
BuildProcessTemplates/


# ignore all out of the bin folder, except for the VSIX file
VSIX/DNNTemplates/[Bb]in/
!VSIX/DNNTemplates/[Bb]in/*.vsix

# Ignore other VS files that the templates project doesn't need in source control
[Oo]bj/
*.obj
*.[Cc]ache
*.[Uu]ser

.vs/
[Bb]in/