<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.7.37355" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.7.37355" targetFramework="net472" />
  <package id="stdole" version="17.7.37355" targetFramework="net472" />
</packages>